body {
  background-color: #4a0080;
  background-image: url(./e94feaf9d6ef107ff85f3e79e46bedec.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19b3e6;
  color: #fff;
  font-size: 1.8rem; }

